/*@font-face {

  src:url(assets/PoiretOne-Regular.ttf);
  font-family: PoiretOne;
}*/

html,
body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}


a:link,
#logo-name:hover,
a:visited,
a:hover,
a:active {
  color: #ecf0f1;
}

#content {
 color: #2c3e50;
}

.navbar-default {
	color: #9b59b6;
	background-color: #f39c12;
	border-color: #f39c12;
}

.iAm {
  text-align: center;
}

.btn-primary {
  margin: 10px;
}


.container-fluid {

  padding: 10px;
  margin: 0 auto;
}


#logout {
  color: #ecf0f1;
  float: right;
}

.navbar-toggle,
.navbar-toggle:hover {
	border: none;
	background: none;
}

#logo-name {
  color: #ecf0f1;
}

.navbar-header a {
  	font-size: 24px;
  	color: #8e44ad;
  	padding: 15px 20px;
  	letter-spacing: .11em;
  	margin-bottom: -1px;
}
#truckform,
#address,
#geocode {

  color: #2c3e50;
}


body {
  margin-top: 30px;
  background-color: #c0392b;
  color: #ecf0f1;
  font-size: 14px;
  padding: 50px;
}


h1 {
  font-family: "Montserrat";
  text-align: center;
}

a { color: #ecf0f1; }



#map {
  height: 100%;
  margin-bottom: 50px;
}

#hat-logo {
  margin: 5px;
  background-image: url('/assets/HAT_logo_OR_inv.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 65px;
  width: 120px;
  text-indent: 100%;
  display: inline-block;
}
