<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<header>
<%- include('../partials/header') %>
</header>
<body>
  <h1>Welcome to Hungry as Truck</h1>


  <main>
  <div class="buttons container">
  <% if (user === undefined) { %>

  <p class="iAm">I am a...</p>
  <div class="row">
    <a class="btn btn-primary col-lg-6" href="/hp/facebook">Hungry Person</a>
    <a class="btn btn-primary col-lg-6" href="/to/facebook">Truck Owner</a>
  </div>

   <% } %>

  </div>

  </main>

  <% if (user !== undefined) { %>
    <% if (user.trucks) { %>
      <select name="select">
        <% user.trucks.forEach(function(truck) { %>
          <option value="truck.name">truck.name</option>
       <% }); %>
      </select>
    <% } %>

      <div id="map"></div>

  <% } %>

  <%- include('../partials/scripts') %>

</body>
</html>
