<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<header>
<%- include('../partials/header') %>
</header>
<body>
  <h1>Welcome to Hungry as Truck</h1>


  <main>
  <div class="buttons">
  <p><%= user %></p>
  <% if (user === undefined) { %>

  <button class="btn btn-default">Sign Up</button>
  <a class="btn btn-default" href="/auth/facebook">Log In</a>
   <% } %>

  </div>

  </main>

  <% if (user !== undefined) { %>

    <div id="map"></div>

  <% } %>






  <%- include('../partials/scripts') %>
</body>
</html>
